<!DOCTYPE html>
<div id="columns">
<html ng-app="incItapp" ng-controller="incItCtrl">
<head>
  <title>IncIt!</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
  <script src="http://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
 
  <script type="text/javascript" src="incterest.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:600italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="incterest.css">
</head>

                <!--****** NAV BAR STARTS HERE ******-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Think your ideas are crazy? Well, these off-beat ideas made millions! </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <input placeholder="Search" type="text" ng-model="searchText"/>
      
      <!-- Large modal -->
        <a button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Add a Product</button>
        </a>

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
                    <!-- ******NAV BAR DONE ******-->
  <header>
    <h1></h1>
  </header>

<body>
  

  <div class="content">
    
     <!-- Section for row of incs -->
  <div id="wrapper">
    <div class="pinSection"><h2>{{incSections[0]}}</h2>
         
   
    
    <!-- A BETTER tile (based on our movies object) -->
      <div class="pin" ng-repeat="inc in incs | filter: searchText" ng-click="viewDetails()">
        <button class="xbutton" ng-click ="incs.$remove(inc)">x</button>
        <div class="pinImg">
        <img src="{{inc.poster}}">
        </div>
        <div class="inc-title">
          {{inc.title}}
        </div>
        <div class="inc-description">
        {{inc.description}}
         <div class="link"> 
         <a href="{{inc.link}}">Click to learn more</a>
        </div>
      </div>
     </div>
  </div>
</div>
</div>

                  <!-- ******Modal****** -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
    <!--********** adding content to button *******-->
    <div class="addButton">
    <a><h3>There's no such thing as a crazy idea.</h3>
    <h3>Add your own idea or a company you know below!</h3></a>

      <form ng-submit="addInc(newTitle, newDesc, newPoster, newlink);">
      <label>Name of idea you know about</label>
    <input type="text" size="20" placeholder=" Insert Name" ng-model="newTitle">
    </div>
     <div class="addButton">
    <label>Brief info about the idea</label>
    <input type="text" size="20" placeholder=" Insert Link" ng-model="newDesc">
    </div>
    <div class="addButton">
    <label>Insert the url to get more info about the genius idea</label>
    <input type="text" size="20" placeholder=" Insert Link" ng-model="newLink">
    </div>
    <div class="addButton">
    <label>Insert the image this idea is known for</label>
    <input type="text" size="30" placeholder=" Add Image URL" ng-model="newPoster"><br/>
    </div>
    <input id="button" type="submit" value="Add Company"><br>
  </form>
    </div>
  </div>
</div>

             <!--*********** END OF MODAL ********-->
</body>
</html>