/************************
HEADER
************************/
h1 {
  font-size: 80px;
  text-align: left;
  font-style: bold;
  font-family: 'Open Sans', sans-serif;
 
}

.incFont {
  color: white;
  
}

.itFont {
  color:red;
}

.periodFont {
  color:black;
}

/************************
NavBar
************************/ 
.navbar {
background-color: #d18f4a;
font: red;
font-style: bold;
}

a {
  color: blue;
  font-family: 'Courgette', cursive;
}

.navbar-brand {
  color: black;
  font-family: 'Courgette', cursive;
  margin-top: 35px;
  font-size: 20px;
}

.searchBar {
  margin-top: 20px;
  font-size: 17px; 
}

.addButton {
  font-size: 17px;
}

/************************
BODY
************************/

body {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    background-image: url(images/notepad.jpg);
    background-size: 100%;
}

#wrapper {
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
}

.pinSection {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 15px;
  column-fill: auto;
}

.pinSection:hover .pin:not(:hover) {
  opacity:.7;
}
.xbutton {
  position: relative;
    top: -16px;
}

.pin {  
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

 img {
  max-width: 230px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pinP {
  font: 12px/18px 'Josefin Slab', serif;
  font-style: bold;
  color: #333;
  margin: 0;
}

input {
  margin: 10px;
  text-align: center;
}

