/************************
GENERAL
************************/
#content {
  width: 100%;
  min-height: 800px;
}

/************************
HEADER
************************/
h1 {
  font-size: 80px;
  text-align: left;
  font-style: bold;
  font-family: 'Open Sans', sans-serif;
 
}

.incFont {
  color: white;
  font-family: 'Damion', cursive;
  font-size: 5em;
  
}

.itFont {
  color:red;
}

.periodFont {
  color:black;
}

/************************
NavBar
************************/ 
.navbar-header {

  width: 100%;
}

.navbar {
  
background-color: #6bba70;
font: red;
font-style: bold;
width: 100%;

}

a {
  color: blue;
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  color: black;
  font-family: 'Damion', cursive;
  margin-top: 35px;
  font-size: 20px;
}

.searchBar {
  margin-top: 20px;
  font-size: 17px; 
}

.addButton {
  font-size: 17px;
}

/************************
BODY
************************/

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #6bba70;
    background-size: 100%;
}

#wrapper {
  width: 90%;
  max-width: 1150px;
  min-width: 800px;
  margin: 50px auto;
  margin-top: -1%;
 
}

.pinSection
:hover {
  border-color: red;
}

.pinSection {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 15px;
  column-fill: auto;
}


.xbutton {
  position: relative;
    top: -16px;
}

.pin {  
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 15px;


}



 img {
  max-width: 230px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-style: dashed;
}

.pinP {
  font: 12px/18px 'Josefin Slab', serif;
  font-style: bold;
  color: #333;
  margin: 0;
}

input {
  margin: 10px;
  text-align: center;
}

/*******************************
          Responsiveness
********************************/
@media (min-width: 320px) {
.pinSection {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
}
}

@media (min-width: 480px) {
.pinSection {
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}
}

@media (min-width: 680px) {
.pinSection {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
}
}

@media (min-width: 1100px) {
.pinSection {
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
}
}